@import "tailwindcss";

/* @import "tw-animate-css"; */
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "lexia-readable";
  src: url(../fonts/home-page/lexia_readable/LexieReadable-Bold.ttf) format(truetype);
  font-display: swap;
}
@font-face {
  font-family: "geometos-rounded";
  src: url(../fonts/cnbpb/geometos-rounded/geometos-rounded.ttf) format(truetype);
  font-display: swap;
}
@font-face {
  font-family: "open-dyslexic";
  src: url(../fonts/cnbpb/open_dyslexic/OpenDyslexicAlta-Regular.otf) format(opentype);
  font-display: swap;
}
@font-face {
  font-family: "open-dyslexic-bold";
  src: url(../fonts/cnbpb/open_dyslexic/OpenDyslexicAlta-Bold.otf) format(opentype);
  font-display: swap;
}
@font-face {
  font-family: "bitter";
  font-display: swap;
  src: url(../fonts/janai-amitaf/bitter/Bitter-VariableFont_wght.ttf) format(truetype);
}

@theme inline {
  --color-white-100: #FFFCFE;
  --color-white-200: #FFFAFD;
  --color-white-300: #FFF0F8;
  --color-black: #11000A;
  --color-gray: #282426;
  --color-dark-purple: #5E239D;
  --color-light-purple: #863DD4;
  --color-dark-pink-100: #FB3CA5;
  --color-dark-pink-200: #F229AC;
  --color-light-pink-100: #FFD1E9;
  --color-light-pink-200: #FFC2E2;
  --font-lexia-readable: "lexia-readable";
  --font-open-dyslexic: "open-dyslexic";
  --font-quicksand: var(--font-quicksand);
  --font-geometos-rounded: "geometos-rounded";
  --font-open-sans: sans-serif;
  --font-bitter: "bitter";
  --text-44px: 44px;
  --text-32px: 32px;
  --text-28px: 28px;
  --spacing-100px: 100px;
  --spacing-70px: 70px;
  --spacing-16: 60px;
  --spacing-12: 50px;
  --spacing-8: 30px;
  --animate-btnDown: downBtn 1s ease-in alternate infinite;
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply w-[15px];
}
::-webkit-scrollbar-track {
  @apply bg-white-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-dark-pink-100 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-pink-200;
}

body {
  @apply bg-light-pink-100 font-quicksand text-white-100 animate-[fade_0.5s_ease-in-out];
}

/* Dark mode */
.dark ::-webkit-scrollbar-track {
  @apply bg-gray;
}
.dark ::-webkit-scrollbar-thumb {
  @apply bg-light-pink-100;
}
.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-light-pink-200;
}
.dark #solution-cnbpb .font-open-dyslexic strong,
.dark #style-guide-cnbpb .font-open-dyslexic strong,
.dark #technologies-cnbpb .font-open-dyslexic strong {
  background: linear-gradient(
    96deg,
    #F2E530 0%,
    #ECE35A 90%
  );
  background-clip: text;
}

/* Texts */
#sobre strong,
#rodape strong {
  background: linear-gradient(
    96deg,
    var(--color-light-pink-200) 0%,
    var(--color-light-pink-100) 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 4px 4px #2824260D, 4px 4px 4px #FFD1E908;
}
#problemn-cnbpb .font-open-dyslexic strong,
#footer-cnbpb .font-open-dyslexic strong {
  color: #F2E530;
}
#solution-cnbpb .font-open-dyslexic strong,
#style-guide-cnbpb .font-open-dyslexic strong,
#technologies-cnbpb .font-open-dyslexic strong {
  color: #713CA6;
}

/* Academic backgrounds list */
@media screen and (max-width: 1280px) {
  #formacoes ul li:last-of-type hr:last-child {
    @apply hidden;
  }
}

/* Animation */
@keyframes fade {
  from {
    transform: translateX(-5px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes downBtn {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
  }
}
